<p>recipesearch works!</p>

<input class="border-2" type="text" [(ngModel)]="searchterm" placeholder="Search">
<input class="border-2" type="text" [(ngModel)]="mealType" placeholder="Type of meal">
<input class="border-2" type="text" [(ngModel)]="cuisineType" placeholder="Cuisine">
<input class="border-2" type="text" [(ngModel)]="healthLabel" placeholder="Allergies">

<button (click)="searchRecipe()">Get recipes</button>

@if (recipes && recipes.length > 0) {
    @for (recipe of recipes; track recipe) {
    <article>
        <h3 class="text-3xl font-bold underline">{{ recipe.label }}</h3>
        <img src="{{ recipe.image }}" alt="Recipe image">
        <p>{{ recipe.totalTime }}</p>
        <p>{{ recipe.healthLabels }}</p>
        <ul>
            <p>
                <a [routerLink]="['/recipe', recipe.selfref | recipeidformatter]">
                    Read recipe...
                </a>
            </p>
            @for (ingredientLine of recipe.ingredientLines; track ingredientLine) {
            <li>{{ ingredientLine }}</li>
            }
        </ul>
    </article>
} @empty {
}
}
